<!doctype html>
<!--
The consent.html displays the text of an IRB-approved consent form.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Decision Making Experiment - Informed Consent Form</title>
  <link rel="stylesheet" href="static/css/tacit-css.min.css"/>
</head>
<body>

  <!-- Study headers -->
  <h1>EXPLANATORY STATEMENT AND CONSENT FORM</h1>

  <hr>
  <p>
    <b>Project ID:</b> 24742
    <br>
    <b>Project title</b>: Investigating the associations between mood, learning, and decision making
    <br>
  </p>

  <p>
    <b>Chief Investigator</b>:
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dr Daniel Bennett
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Department of Psychiatry, Monash University, Australia</i>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Email: <a href="mailto:daniel.bennett@monash.edu">daniel.bennett@monash.edu</a></i>
  </p>

  <p>
    <b>Associate Investigators</b>:
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dr Hayley Darke
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dr Rachel Hill
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prof Suresh Sundram
  </p>

  <p>
    <b>Student Investigators</b>:
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ms Laura Forbes
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ms Ashleigh Fulton
  </p>

  <hr>

  <p>
    You are invited to take part in this study.  Please read this Explanatory Statement in full before deciding whether or not to participate in this research. If you would like further information regarding any aspect of this project, you are encouraged to contact the researchers via the email address listed above. This study has been approved by the Monash University Human Research Ethics Committee (No. 24742).
  </p>

  <h2>What does the research involve?</h2>
  <p>
    The purpose of this study is to explore the relationships between mood, learning, and decision making. If you agree to participate, you will be asked to make decisions regarding a series of images or shapes shown on a computer screen. You may receive feedback on the outcomes of these decisions in the form of monetary feedback, or in the form of ‘points’. At times during these tasks, we may also ask you about your current mood state. These tasks are repetitive but you will be given the opportunity to take breaks. We will also ask you to complete several questionnaires about your medical history, personality, and demographics (e.g. age, years of education, etc.). All data will be collected anonymously, meaning that we will not collect your name, address, date of birth, or other personally identifying information. Participation will take approximately 30 minutes, excluding breaks.
  </p>

  <h2>Why were you chosen for this research?</h2>
  <p>
    We are seeking healthy adult volunteers aged between 18 and 65 to take part in this online study. You are invited to take part because you clicked on an online advertisement for this study.
  </p>

  <h2>Consenting to participate in the project and withdrawing from the research</h2>
  <p>
    To consent to participate in this study, you must read the information presented and click ‘I agree’ on the following page. Participation is entirely voluntary and you have the right to withdraw at any time without explanation or penalty. If you wish to have your data withdrawn from the project, you can contact us through the website that you used to participate (either MTurk or Prolific.co). Please note that, because we do not collect identifying information, your data cannot be withdrawn unless you contact us using the same account that you used to participate originally.
  </p>

  <h2>Possible benefits and risks to participants</h2>
  <p>
    This study aims to further our knowledge about the relationships between cognition, perception, and personality factors, although it will not directly benefit you. These findings may also shed light on the relationships between psychiatric symptoms and cognitive impairment, which may inform the development of treatment targets in future.
  </p>
  <p>
    Some people feel fatigued or develop tired eyes from prolonged viewing of the computer screen. To limit this, you will be offered regular breaks during the automated study. There are no other risks associated with this study.
  </p>

  <h2>Payment</h2>
  <p>
  You will be paid approximately $12 USD per hour (i.e., $6 for 30 minutes) for completing this study in a satisfactory manner. This means that you will not receive payment if you submit nonsense answers, fail to follow instructions, or do not make a reasonable effort to attempt the computerised activities. In these instances, your data will be deleted and you will be notified that your submission was rejected by the researchers.
  </p>
  <p>
  Payment will be provided through the participation website (e.g. MTurk or Prolific.co). You will not receive this payment if you withdraw early or do not complete all components of the study.
  </p>
  <p>
  In addition to the amount above, you may receive a small bonus payment (up to $2) to reward you for good performance on the task. If you receive a bonus payment, it will be paid in addition to the base payment listed above, and will depend on the choices that you make during the task.
  </p>

  <h2>Confidentiality</h2>
  <p>
    By clicking ‘I agree’ on the consent form you consent to the researchers collecting and using the personal information that you provide to us during this study.  All information that is collected about you in connection with this study will be coded by the researchers conducting this study, and will not be labelled with any information that can directly identify you. In any publication, information will be provided in such a way that you cannot be identified.
  </p>

  <h2>Storage of data</h2>
  <p>
  Your data will be coded and stored on secure servers hosted by Monash University. Raw data will be stored for five years after the last scientific publication and then destroyed; on publication, de-identified data (e.g., choices and reaction times in behavioural tasks, scale sum scores for survey data) will be deposited in public online data repositories to facilitate collaboration for research and educational purposes. No personally identifying information will be included in data to be shared.
  </p>

  <h2>Results</h2>
  <p>
  We plan to publish the results in academic journals and present them at conferences. In any publication, information will be provided in such a way that you cannot be identified. You may contact the principal researcher for information regarding the results of the project once the project is completed and the results have been prepared for publication. This information will be in a pooled form with no possible way of identifying you.
  </p>

  <!-- Contact information -->
  <h2>Complaints</h2>
  <p>
  Should you have any concerns or complaints about the conduct of the project, you are welcome to contact the Executive Officer, Monash University Human Research Ethics Committee (MUHREC):
  </p>

  <p>
    <ul style="list-style-type:none;">
      <li>Executive Officer</li>
      <li>Monash University Human Research Ethics Committee (MUHREC)</li>
      <li>Room 111, Chancellery Building D,</li>
      <li>26 Sports Walk, Clayton Campus</li>
      <li>Research Office</li>
      <li>Monash University, VIC 3800</li>
      <li>Tel: +61 3 9905 2052&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Email: <a href="mailto:muhrec@monash.edu">muhrec@monash.edu</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fax: +61 3 9905 3831</li>
    </ul>

  </p>

  <p>
  Thank you,
  <br><br>
  <b>Dr Daniel Bennett</b>
  </p>

  <hr>

  <!-- Consent -->
  <p>
    <b>Project ID:</b> 24742
    <br>
    <b>Project title</b>: Investigating the associations between mood, learning, and decision making
    <br>
  </p>


  <p>
    <b>Chief Investigator</b>:
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dr Daniel Bennett
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Department of Psychiatry, Monash University, Australia</i>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Email: <a href="mailto:daniel.bennett@monash.edu">daniel.bennett@monash.edu</a></i>
  </p>

  <p>

    <blockquote>
      I have been asked to take part in the Monash University research project specified above. I have read and understood the Explanatory Statement and I hereby consent to participate in this project. The data that I provide during this research may be used in future research projects by the chief investigators without me being contacted, and may be shared in anonymised form with other researchers in online data repositories.
    </blockquote>

  </p>

  <center>
    <form method="post">

      <div class="recontact">
        <p>Would you like to be re-contacted for future studies?</p>
        <p>
          <input type="radio" name="future_contact" value="Yes">Yes
          <input type="radio" name="future_contact" value="No">No
        </p>
      </div>

      <button type="submit" name="subj_consent" value=1>I agree</button>
      <button type="submit" name="subj_consent" value=0>I do not agree</button>

    </form>
  </center>

</body>
<style>
.recontact {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
</style>
</html>
